.sidenav {
  width: 250px;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  /* overflow-x: hidden; 
   z-index: 1000; */
  overflow-y: auto;
  margin-bottom:auto;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav li:hover {
  color: blue;
}

.main {
  margin-left: 250px;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.nav-item {
  text-align: left;
}